<ion-header style="height: 100px;">
  <ion-toolbar color="tetriary">
    <ion-buttons slot="start" style="height: 100%;">
      <ion-menu-button style="height:50%; margin-top: 35px;">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of listNews" style="margin: 5px;" >
      <ion-grid (click)="getNoteDetail(item)" style = "background-color: aqua;">
        <ion-row >
          <ion-col size = "2">
            <img src="../../assets/icon/favicon.png">
          </ion-col>
          <ion-col style="margin-left: 10px;">
            <ion-label>{{item.title}} - {{item.author}} {{item.date|date:'dd MM yyyy'}} </ion-label>
            <ion-text>{{item.details}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
